.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
}

.modal-open {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
